
/* .header {
    height: 100px;
}; */

.top-header {
    padding-left: 50px;
    padding-right: 50px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 53, 59);
}

.navi-bar {
    background-color: rgb(47, 53, 59);
    display: flex;
    justify-content: center;

    .navi-item {
        max-width: 250px;
        background: transparent;
        color: rgb(255, 255, 255);
        flex: 1 1 33.33%;
        height: 56px;
        line-height: 56px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: #ee4547;
        }
    }
  
};